* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Variables */
/* Mixins */
/* General Styles */
body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  padding: 2rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

/* Buttons */
.btn {
  text-decoration: none;
  color: #fff;
  padding: 2rem 0;
}

.btn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1.125rem;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
  max-width: 400px;
  width: 90%;
  margin: 7rem auto;
}

/* Navigation */
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__link {
  text-decoration: none;
  color: #000;
}

.navigation__link span {
  width: 35px;
  height: 5px;
  margin-bottom: .3rem;
  background-color: #000;
  display: block;
}

.navigation__logo {
  font-size: 2rem;
}

/* Hero Section */
.hero {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 2.5rem 0;
}

.hero__tag {
  display: inline-block;
  background-color: #ff354c;
  color: #fff;
  padding: .5rem 1.5rem;
  margin-bottom: 1rem;
}

.hero__content-link {
  text-decoration: none;
  color: #fff;
}

.hero__content-link:hover {
  color: #ff354c;
  text-decoration: underline;
}

.hero__content-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* Breaking News */
.breaking-news__tag {
  display: inline-block;
  background-color: #707070;
  color: #fff;
  padding: .7rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 2rem 0;
}

.breaking-news__content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2.5rem 0;
}

.breaking-news__content:first-of-type {
  padding-top: 0;
}

.breaking-news__content:last-of-type {
  border-bottom: none;
}

.breaking-news__link {
  text-decoration: none;
  color: #000;
}

.breaking-news__link:hover {
  color: #ff354c;
  text-decoration: underline;
}

.breaking-news__title {
  font-size: 1.5rem;
  margin-bottom: .3rem;
}

/* More News */
.more-news-tag {
  display: inline-block;
  background-color: #1177aa;
  color: #fff;
  padding: .7rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 1rem 0;
}

.more-news {
  margin-bottom: 3rem;
}

.more-news__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-right: 1rem;
}

.more-news__content-wrapper:last-of-type {
  border-right: none;
  padding-left: 1rem;
}

.more-news__tag {
  display: inline-block;
  background-color: #1177aa;
  color: #fff;
  padding: .7rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 1rem 0;
}

.more-news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.3rem 0;
}

.more-news__content-title {
  font-size: 1.5rem;
  margin-bottom: .3rem;
}

.more-news__link {
  text-decoration: none;
  color: #000;
}

.more-news__link:hover {
  color: #1177aa;
  text-decoration: underline;
}

.more-news__content-description {
  margin-bottom: 1rem;
}

.more-news__content--pb {
  border-bottom: none;
}

.more-news__content-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.more-news__content-sub > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.more-news__content-sub > div:nth-child(2), .more-news__content-sub > div:nth-child(4) {
  padding-left: 1rem;
}

.more-news__content-sub > div .more-news__content-title {
  font-size: 1.2rem;
}

/* Footer */
.footer {
  background-color: #000;
  padding: 3rem 0;
  text-align: center;
}

.footer__header {
  font-size: 2rem;
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
}

.footer__items-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
  margin-bottom: 2rem;
}

.footer__items-main .footer__item {
  margin-right: 1rem;
}

.footer__link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: .9rem;
}

.footer__items-main, .footer__items-sub {
  list-style-type: none;
}

.footer__items-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

.footer__items-sub .footer__item {
  margin-right: 2rem;
}

.footer__item-description {
  color: #7e7e7e;
}

.footer__copyright {
  color: #7e7e7e;
  text-align: center;
  font-size: .9rem;
}

.footer__copyright .footer__link {
  text-transform: none;
}

/* Media Queries */
@media (max-width: 1100px) {
  .hero__content-title {
    font-size: 2.2rem;
  }
  .breaking-news__content .breaking-news__title {
    font-size: 1.3rem;
  }
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .more-news__content-wrapper:last-of-type {
    padding-left: 0;
  }
  .more-news__content-wrapper:last-of-type .more-news__content-sub:first-of-type {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .more-news__content-wrapper:last-of-type .more-news__content-sub:first-of-type .more-news__content:last-of-type {
    border-bottom: none;
  }
}

@media (max-width: 770px) {
  .hero__content-title {
    font-size: 1.8rem;
  }
  .more-news__content-sub {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .more-news__content-sub > div:nth-child(2), .more-news__content-sub > div:nth-child(4) {
    padding-left: 0;
  }
  .footer__items-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__items-main .footer__item {
    margin-bottom: 1rem;
  }
  .footer__items-sub {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__items-sub .footer__item:first-of-type {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 1rem;
  }
}

@media (max-width: 500px) {
  .hero__content-title {
    font-size: 1.2rem;
  }
}
