* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
$primary-color: #ff354c;
$secondary-color: #707070;
$color-dark-gray: #7e7e7e;
$tertiary-color: #1177aa;
$color-white: #fff;

$margin-xs: .5rem;
$margin-sm: 1rem;

$padding-sm: 1rem;

/* Mixins */
@mixin reset-link($color) {
  text-decoration: none;
  color: $color;
}

@mixin hover-state($color) {
  color: $color;
  text-decoration: underline;
}

/* General Styles */
body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  padding: 2rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
}

.flex {
  display: flex;
}

.flex > div {
  flex: 0 1 50%;
}

/* Buttons */
.btn {
  text-decoration: none;
  color: $color-white;
  padding: 2rem 0;
}

.btn-more {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.125rem;
}

.button-container {
  display: flex;
  justify-content: center;
  background-color: #000;
  max-width: 400px;
  width: 90%;
  margin: 7rem auto;
}

/* Navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link {
    @include reset-link(#000);

    span {
      width: 35px;
      height: 5px;
      margin-bottom: .3rem;
      background-color: #000;
      display: block;
    }
  }

  &__logo {
    font-size: 2rem;
  }
}

/* Hero Section */
.hero {
  background-color: #000;
  color: $color-white;
  text-align: center;
  padding: 2.5rem 0;

  &__tag {
    display: inline-block;
    background-color: $primary-color;
    color: $color-white;
    padding: .5rem 1.5rem;
    margin-bottom: $margin-sm;
  }

  &__content-link {
    text-decoration: none;
    color: $color-white;

    &:hover {
      @include hover-state($primary-color);
    }
  }

  &__content-title {
    font-size: 3rem;
   margin-bottom: $margin-sm;
  }
}

/* Breaking News */
.breaking-news {
  &__tag {
    display: inline-block;
    background-color: $secondary-color;
    color: $color-white;
    padding: .7rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 2rem 0;
  }

  &__content {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 2.5rem 0;
  
    &:first-of-type {
      padding-top: 0;
    }
  
    &:last-of-type {
      border-bottom: none
    }  
  }

  &__link {
    @include reset-link(#000);

    &:hover {
      @include hover-state($primary-color);
    }
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: .3rem;
  }
}

/* More News */
.more-news-tag {
  display: inline-block;
  background-color: $tertiary-color;
  color: $color-white;
  padding: .7rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 1rem 0;
}

.more-news {
  margin-bottom: 3rem;

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, .2);
    padding-right: $padding-sm;

    &:last-of-type {
      border-right: none;
      padding-left: $padding-sm;
    }
  }

  &__tag {
    display: inline-block;
    background-color: $tertiary-color;
    color: $color-white;
    padding: .7rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1rem 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 1.3rem 0;
  }

  &__content-title {
    font-size: 1.5rem;
    margin-bottom: .3rem;
  }

  &__link {
    @include reset-link(#000);

    &:hover {
      @include hover-state($tertiary-color);
    }
  }

  &__content-description {
    margin-bottom: $margin-sm;
  }

  &__content--pb {
    border-bottom: none;
  }

  &__content-sub {
    display: flex;
    flex-wrap: wrap;

    & > div {
      flex: 1 1 50%;

      &:nth-child(2), 
      &:nth-child(4) {
        padding-left: $padding-sm;
      }

      .more-news__content-title {
        font-size: 1.2rem;
      }
    }
  }
}

/* Footer */
.footer {
  background-color: #000;
  padding: 3rem 0;
  text-align: center;

  &__header {
    font-size: 2rem;
    text-align: center;
    color: $color-white;
    margin-bottom: $margin-sm;
  }

  &__items-main {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, .3);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    padding: $padding-sm;
    margin-bottom: 2rem;

    .footer__item {
      margin-right: $margin-sm;
    }
  }

  &__link {
    @include reset-link($color-white);
   text-transform: uppercase;
   font-size: .9rem;
  }

  &__items-main,
  &__items-sub {
    list-style-type: none;
  }

  &__items-sub {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    .footer__item {
      margin-right: 2rem;
    }
  }

  &__item-description {
    color: $color-dark-gray;
  }

  &__copyright {
    color: $color-dark-gray;
    text-align: center;
    font-size: .9rem;

    .footer__link {
      text-transform: none;
    }
  }
}

/* Media Queries */
@media (max-width: 1100px) {
  .hero__content-title {
    font-size: 2.2rem;
  }

  .breaking-news__content {
    .breaking-news__title {
      font-size: 1.3rem;
    } 
  }

  .flex {
    flex-direction: column;
  }

  .more-news__content-wrapper {
    &:last-of-type {
      padding-left: 0;

      .more-news__content-sub:first-of-type {
        order: 1;

        .more-news__content:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .hero__content-title {
    font-size: 1.8rem;
  }

  .more-news__content-sub {
    flex-direction: column;
  }

  .more-news__content-sub > div {
    &:nth-child(2), 
    &:nth-child(4){
      padding-left: 0;
    }
  }

  .footer__items-main {
    flex-direction: column;

    .footer__item {
      margin-bottom: $margin-sm;
    }
  }

  .footer__items-sub {
    flex-wrap: wrap;

    .footer__item:first-of-type {
      flex-basis: 100%;
      margin: $margin-sm;
    }
  }
}

@media (max-width: 500px) {
  .hero__content-title {
    font-size: 1.2rem;
  }
}